<h4>Vehiculos en el parqueadero</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Placa</th>
      <th scope="col">Tipo</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Cilindraje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">IJX14E</th>
      <td>Moto</td>
      <td>2018-06-12, 10:20</td>
      <td>180</td>
    </tr>
    <tr>
      <th scope="row">IHV102</th>
      <td>Carro</td>
      <td>2018-06-23, 16:45</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>
