<div class="container">
<div class="row">
	<h4 class="col-lg-6">Vehiculos en el parqueadero</h4>
	
	<form class="form-inline col-lg-6">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
</div>
<br>
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Placa</th>
      <th scope="col">Tipo</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Cilindraje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">IJX14E</th>
      <td>Moto</td>
      <td>2018-06-12, 10:20</td>
      <td>180</td>
    </tr>
    <tr>
      <th scope="row">IHV102</th>
      <td>Carro</td>
      <td>2018-06-23, 16:45</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>
</div>
</div>
